name: Publish NuGet packages

on:
  push:
    branches: [ "main" ]
    paths: [ "src/**" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04 #ubuntu-latest doesnt work at the moment, see: https://github.com/NuGet/setup-nuget/issues/168

    steps:
      - uses: actions/checkout@v4

      - name: Setup NuGet.exe for use with actions
        uses: nuget/setup-nuget@v2
        with:
          nuget-api-key: ${{secrets.NUGET_API_KEY}}
          nuget-version: 'latest'

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: |
            8
            9
            10

      - name: Restore dependencies
        run: |
          dotnet restore src/mvdmio.Database.PgSQL
          dotnet restore src/mvdmio.Database.PgSQL.Tool

      - name: Build
        run: |
          dotnet build src/mvdmio.Database.PgSQL --no-restore -c Release
          dotnet build src/mvdmio.Database.PgSQL.Tool --no-restore -c Release

      - name: Pack tool
        run: dotnet pack src/mvdmio.Database.PgSQL.Tool --no-build -c Release

      - name: Push packages
        run: nuget push **/*.nupkg -Source 'https://api.nuget.org/v3/index.json' -NonInteractive -SkipDuplicate -Verbosity normal
